In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

# Getting to Know the Data

1. We pull 20,000 rows from the database using an API to understand the structure of the data and its contents.
2. From the values in the `ofns_desc` column, we create a list.
3. We create a loop that sends a series of queries through the API for each value in the list.
4. We save the results in a CSV file.

In [3]:
# API Connection
from sodapy import Socrata

client = Socrata("data.cityofnewyork.us", "yUnYRTjXHWdK6ATxbXOsJR52v", timeout=60)

# First 20000 results, returned as JSON from API / converted to Python list of dictionaries by sodapy.
results = client.get("qgea-i56i", limit=20000)
df = pd.DataFrame.from_records(results)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cmplnt_num                   20000 non-null  object
 1   cmplnt_fr_dt                 20000 non-null  object
 2   cmplnt_fr_tm                 20000 non-null  object
 3   cmplnt_to_dt                 18586 non-null  object
 4   cmplnt_to_tm                 20000 non-null  object
 5   addr_pct_cd                  19996 non-null  object
 6   rpt_dt                       20000 non-null  object
 7   ky_cd                        20000 non-null  object
 8   ofns_desc                    20000 non-null  object
 9   pd_cd                        19982 non-null  object
 10  pd_desc                      20000 non-null  object
 11  crm_atpt_cptd_cd             20000 non-null  object
 12  law_cat_cd                   20000 non-null  object
 13  boro_nm                      20000 non-null  object
 14  loc_of_occur_desc            20000 non-null  object
 15  prem_typ_desc                20000 non-null  object
 16  juris_desc                   20000 non-null  object
 17  jurisdiction_code            20000 non-null  object
 18  parks_nm                     20000 non-null  object
 19  hadevelopt                   20000 non-null  object
 20  housing_psa                  20000 non-null  object
 21  x_coord_cd                   20000 non-null  object
 22  y_coord_cd                   20000 non-null  object
 23  susp_age_group               20000 non-null  object
 24  susp_race                    20000 non-null  object
 25  susp_sex                     20000 non-null  object
 26  latitude                     20000 non-null  object
 27  longitude                    20000 non-null  object
 28  lat_lon                      20000 non-null  object
 29  patrol_boro                  20000 non-null  object
 30  station_name                 20000 non-null  object
 31  vic_age_group                20000 non-null  object
 32  vic_race                     20000 non-null  object
 33  vic_sex                      20000 non-null  object
 34  :@computed_region_efsh_h5xi  19961 non-null  object
 35  :@computed_region_f5dn_yrer  19999 non-null  object
 36  :@computed_region_yeji_bk3q  19997 non-null  object
 37  :@computed_region_92fq_4b7q  19999 non-null  object
 38  :@computed_region_sbqj_enih  19999 non-null  object
 39  transit_district             437 non-null    object
dtypes: object(40)
memory usage: 6.1+ MB

In [5]:
# show values from column ofns_desc
df['ofns_desc'].value_counts()

ofns_desc
PETIT LARCENY                           4229
HARRASSMENT 2                           2992
ASSAULT 3 & RELATED OFFENSES            2078
GRAND LARCENY                           1991
CRIMINAL MISCHIEF & RELATED OF          1636
FELONY ASSAULT                          1028
VEHICLE AND TRAFFIC LAWS                 689
GRAND LARCENY OF MOTOR VEHICLE           668
ROBBERY                                  636
BURGLARY                                 620
MISCELLANEOUS PENAL LAW                  601
OFF. AGNST PUB ORD SENSBLTY &            598
DANGEROUS DRUGS                          341
SEX CRIMES                               289
OFFENSES AGAINST PUBLIC ADMINI           227
DANGEROUS WEAPONS                        221
INTOXICATED & IMPAIRED DRIVING           164
FORGERY                                  153
THEFT-FRAUD                              114
OFFENSES INVOLVING FRAUD                  94
FRAUDS                                    77
CRIMINAL TRESPASS                         71
POSSESSION OF STOLEN PROPERTY             64
RAPE                                      58
UNAUTHORIZED USE OF A VEHICLE             49
ADMINISTRATIVE CODE                       46
OFFENSES AGAINST THE PERSON               41
NYS LAWS-UNCLASSIFIED FELONY              38
OTHER STATE LAWS (NON PENAL LA            33
ARSON                                     30
OTHER OFFENSES RELATED TO THEF            25
MURDER & NON-NEGL. MANSLAUGHTER           18
BURGLAR'S TOOLS                           13
OFFENSES AGAINST PUBLIC SAFETY             7
FRAUDULENT ACCOSTING                       7
OTHER STATE LAWS                           7
GAMBLING                                   6
THEFT OF SERVICES                          6
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       6
CANNABIS RELATED OFFENSES                  6
CHILD ABANDONMENT/NON SUPPORT              4
OFFENSES RELATED TO CHILDREN               4
PROSTITUTION & RELATED OFFENSES            3
ENDAN WELFARE INCOMP                       2
PETIT LARCENY OF MOTOR VEHICLE             2
ALCOHOLIC BEVERAGE CONTROL LAW             2
ANTICIPATORY OFFENSES                      1
KIDNAPPING & RELATED OFFENSES              1
INTOXICATED/IMPAIRED DRIVING               1
NYS LAWS-UNCLASSIFIED VIOLATION            1
(null)                                     1
ESCAPE 3                                   1
Name: count, dtype: int64

In [6]:
# define list of values from column ofns_desc and make a new list
ofns_desc = df['ofns_desc'].value_counts().index.tolist()
ofns_desc

['PETIT LARCENY',
 'HARRASSMENT 2',
 'ASSAULT 3 & RELATED OFFENSES',
 'GRAND LARCENY',
 'CRIMINAL MISCHIEF & RELATED OF',
 'FELONY ASSAULT',
 'VEHICLE AND TRAFFIC LAWS',
 'GRAND LARCENY OF MOTOR VEHICLE',
 'ROBBERY',
 'BURGLARY',
 'MISCELLANEOUS PENAL LAW',
 'OFF. AGNST PUB ORD SENSBLTY &',
 'DANGEROUS DRUGS',
 'SEX CRIMES',
 'OFFENSES AGAINST PUBLIC ADMINI',
 'DANGEROUS WEAPONS',
 'INTOXICATED & IMPAIRED DRIVING',
 'FORGERY',
 'THEFT-FRAUD',
 'OFFENSES INVOLVING FRAUD',
 'FRAUDS',
 'CRIMINAL TRESPASS',
 'POSSESSION OF STOLEN PROPERTY',
 'RAPE',
 'UNAUTHORIZED USE OF A VEHICLE',
 'ADMINISTRATIVE CODE',
 'OFFENSES AGAINST THE PERSON',
 'NYS LAWS-UNCLASSIFIED FELONY',
 'OTHER STATE LAWS (NON PENAL LA',
 'ARSON',
 'OTHER OFFENSES RELATED TO THEF',
 'MURDER & NON-NEGL. MANSLAUGHTER',
 "BURGLAR'S TOOLS",
 'OFFENSES AGAINST PUBLIC SAFETY',
 'FRAUDULENT ACCOSTING',
 'OTHER STATE LAWS',
 'GAMBLING',
 'THEFT OF SERVICES',
 'AGRICULTURE & MRKTS LAW-UNCLASSIFIED',
 'CANNABIS RELATED OFFENSES',
 'CHILD ABANDONMENT/NON SUPPORT',
 'OFFENSES RELATED TO CHILDREN',
 'PROSTITUTION & RELATED OFFENSES',
 'ENDAN WELFARE INCOMP',
 'PETIT LARCENY OF MOTOR VEHICLE',
 'ALCOHOLIC BEVERAGE CONTROL LAW',
 'ANTICIPATORY OFFENSES',
 'KIDNAPPING & RELATED OFFENSES',
 'INTOXICATED/IMPAIRED DRIVING',
 'NYS LAWS-UNCLASSIFIED VIOLATION',
 '(null)',
 'ESCAPE 3']

In [7]:
# First 500000 results, returned as JSON from API / converted to Python list of dictionaries by sodapy. 
# Make a loop and put through api query for every value fron ofns_desc list. 
# Include columns cmplnt_fr_dt	cmplnt_fr_tm and only one value from the ofns_desc list 

ofns_desc_list = df['ofns_desc'].value_counts().index.tolist()

# Set today's date
today = datetime.now().strftime("%Y-%m-%d")

# Create an empty list to store the results
results_list = []

# Loop through each value in the ofns_desc list
for ofns_desc_value in ofns_desc_list:
    # Escapovanje apostrofa u vrednosti
    ofns_desc_value_escaped = ofns_desc_value.replace("'", "''")
    
    # Formiranje upita sa escapovanim apostrofom
    query = f"ofns_desc='{ofns_desc_value_escaped}' AND cmplnt_fr_dt >= '2010-01-01' AND cmplnt_fr_dt <= '{today}'"
   
    # Query the API for the specific value from ofns_desc list
    results = client.get("qgea-i56i",
                         select="cmplnt_fr_dt, cmplnt_fr_tm, ofns_desc",
                         where=query,
                         limit=500000)
    
    # Convert the results to a DataFrame
    results_df = pd.DataFrame.from_records(results)
    
    # Append the results to the results_list
    results_list.append(results_df)

# Concatenate all the DataFrames in the results_list
final_df = pd.concat(results_list)

In [8]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4916471 entries, 0 to 125
Data columns (total 3 columns):
 #   Column        Dtype
---  ------        -----
 0   cmplnt_fr_dt  object
 1   cmplnt_fr_tm  object
 2   ofns_desc     object
dtypes: object(3)
memory usage: 150.0+ MB

In [9]:
# Show how many unique values from ofns_desc column
final_df['ofns_desc'].value_counts()

ofns_desc
PETIT LARCENY                           500000
HARRASSMENT 2                           500000
ASSAULT 3 & RELATED OFFENSES            500000
GRAND LARCENY                           500000
CRIMINAL MISCHIEF & RELATED OF          500000
DANGEROUS DRUGS                         291715
OFF. AGNST PUB ORD SENSBLTY &           288325
FELONY ASSAULT                          268562
ROBBERY                                 212569
BURGLARY                                198312
MISCELLANEOUS PENAL LAW                 172588
DANGEROUS WEAPONS                       123301
OFFENSES AGAINST PUBLIC ADMINI          113012
GRAND LARCENY OF MOTOR VEHICLE          105912
VEHICLE AND TRAFFIC LAWS                 90754
SEX CRIMES                               78270
INTOXICATED & IMPAIRED DRIVING           70272
FORGERY                                  60602
THEFT-FRAUD                              56831
CRIMINAL TRESPASS                        54920
FRAUDS                                   36814
POSSESSION OF STOLEN PROPERTY            28377
OFFENSES INVOLVING FRAUD                 21275
UNAUTHORIZED USE OF A VEHICLE            19726
RAPE                                     18382
OFFENSES AGAINST THE PERSON              15687
OTHER OFFENSES RELATED TO THEF           14785
ADMINISTRATIVE CODE                      13572
ARSON                                    12361
(null)                                    9639
NYS LAWS-UNCLASSIFIED FELONY              6439
OTHER STATE LAWS (NON PENAL LA            5067
MURDER & NON-NEGL. MANSLAUGHTER           4996
THEFT OF SERVICES                         4751
BURGLAR'S TOOLS                           3684
GAMBLING                                  2536
FRAUDULENT ACCOSTING                      2422
KIDNAPPING & RELATED OFFENSES             1967
OFFENSES RELATED TO CHILDREN              1317
PROSTITUTION & RELATED OFFENSES           1183
PETIT LARCENY OF MOTOR VEHICLE            1151
ALCOHOLIC BEVERAGE CONTROL LAW            1107
OFFENSES AGAINST PUBLIC SAFETY            1004
AGRICULTURE & MRKTS LAW-UNCLASSIFIED       956
CHILD ABANDONMENT/NON SUPPORT              342
OTHER STATE LAWS                           278
ENDAN WELFARE INCOMP                       275
ESCAPE 3                                   126
ANTICIPATORY OFFENSES                       95
NYS LAWS-UNCLASSIFIED VIOLATION             76
CANNABIS RELATED OFFENSES                   75
INTOXICATED/IMPAIRED DRIVING                61
Name: count, dtype: int64

In [10]:
# Reset index column
final_df.reset_index(drop=True, inplace=True)

In [11]:
display(final_df.head())
display(final_df.tail())

              cmplnt_fr_dt cmplnt_fr_tm      ofns_desc
0  2010-01-01T00:00:00.000     01:30:00  PETIT LARCENY
1  2010-01-01T00:00:00.000     12:00:00  PETIT LARCENY
2  2010-01-01T00:00:00.000     20:00:00  PETIT LARCENY
3  2010-01-01T00:00:00.000     10:00:00  PETIT LARCENY
4  2010-01-01T00:00:00.000     00:00:00  PETIT LARCENY

                    cmplnt_fr_dt cmplnt_fr_tm ofns_desc
4916466  2022-09-22T00:00:00.000     16:07:00  ESCAPE 3
4916467  2022-08-07T00:00:00.000     00:51:00  ESCAPE 3
4916468  2022-12-19T00:00:00.000     06:36:00  ESCAPE 3
4916469  2022-11-26T00:00:00.000     14:15:00  ESCAPE 3
4916470  2022-05-25T00:00:00.000     22:15:00  ESCAPE 3

In [12]:
# Save the final_df to a CSV file
final_df.to_csv('Resources/final_df.csv', index=False)

# Next step

1. Findings are strongly supported with numbers and visualizations